{erl_opts, [debug_info,
    {parse_transform, lager_transform}
    ]}.
            
{deps, [lager]}.

{relx, [{release, {etcp, "0.1.0" },[etcp]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {include_src, false},
        {extended_start_script, true}]
}.

{profiles, [
			{run, [{erl_opts,[no_debug_info]},
					{relx, [{dev_mode, false}
					]}
            ]},
			{prod, [{erl_opts,[no_debug_info,{d,'PRODUCT'}]},
					{relx, [{dev_mode, false}
                            ,{include_erts, true}
                            ,{sys_config, "./release_config/sys.config"}
                            ,{vm_args, "./release_config/vm.args"}
							,{overlay,[]}
							,{extended_start_script_hooks,[]}
							]}]
            }]
}.
